<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preview</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- AOS Animate CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- Controller Script -->
    <script
      type="module"
      src="/resume_controller.js
    "
    ></script>

    <!-- MiniLinkedIn CSS -->
    <style>
      /* Google Fonts */
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

      /* SETUP */
      :root {
        /* Color Styles */
        --primary: #1665b4;
        --primary-light: #186ec5;
        --dark-brown: #341413;
        --gray-1: #798092;
        --gray-2: #e6e6ed;
        --white: #ffffff;

        /* Font size Desktop */
        --header-1: 64px;
        --header-2: 48px;
        --header-3: 42px;
        --header-4: 32px;
        --header-5: 28px;

        --text-large: 20px;
        --text-medium: 18px;
        --text-regular: 16px;
        --text-light: 13px;

        /* Font weights */
        --font-weight-bold: 700;
        --font-weight-semi-bold: 600;
        --font-weight-medium: 500;
        --font-weight-regular: 400;
        --font-weight-light: 400;
      }
      html {
        scroll-behavior: smooth;
      }

      body {
        font-family: "Poppins", sans-serif;
      }

      /* BUTTON PRIMARY */
      .btn {
        padding: 15px 25px;
        border-radius: 6px;
        font-size: var(--text-medium);
        font-weight: var(--font-weight-medium);
      }

      .btn-primary {
        background-color: var(--primary);
        border: none;
      }

      .btn-primary:focus {
        background-color: var(--primary-light);
      }

      .btn-primary:hover {
        background-color: var(--primary-light);
      }

      /* BUTTON SECONDARY */

      .btn-secondary {
        font-size: var(--text-medium);
        padding: 10px 15px;
        background-color: var(--gray-2);
        color: var(--gray-1);
        margin-top: 12px;
      }

      .btn-secondary:focus {
        background-color: var(--white);
        box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
        color: var(--gray-1);
      }

      .btn-secondary:hover {
        background-color: var(--white);
        box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
        color: var(--gray-1);
      }

      /* NAVBAR */

      .navbar-brand img {
        padding-right: 16px;
      }

      .navbar-brand span {
        font-size: var(--text-medium);
        font-weight: var(--font-weight-medium);
        color: var(--dark-brown);
      }

      .navbar {
        padding: 49px 0;
      }

      a.nav-link {
        margin-right: 39px;
        font-size: var(--text-regular);
        font-weight: var(--font-weight-regular);
        color: var(--dark-brown) !important;
      }

      /* SEctions */
      .headline-bold {
        color: var(--primary-light);
        font-size: var(--header-3);
        font-weight: var(--font-weight-bold);
        line-height: 52px;
      }

      .headline-medium {
        color: black;
        font-size: var(--header-5);
        font-weight: var(--font-weight-semi-bold);
        line-height: 36px;
      }

      .headline-small {
        color: black;
        font-size: var(--text-large);
        font-weight: var(--font-weight-bold);
        line-height: 20px;
      }

      .content {
        font-size: var(--text-medium);
        font-weight: var(--font-weight-regular);
        margin: 12px 0;
      }

      section {
        margin: 18px 0;
      }

      .btn-reset {
        background-color: var(--gray-2);
        border: none;
        margin-left: 12px;
      }

      .btn-reset:focus {
        background-color: var(--white);
      }

      .btn-reset:hover {
        background-color: var(--white);
      }

      hr {
        top: 20px;
        border: none;
        height: 8px;
        background: var(--primary);
      }

      li {
        margin-left: 20px;
      }
    </style>
  </head>
  <body>
    <!-- Navbar section -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img
            src="/assets/img/mini-logo.png"
            alt="brand"
            width="70px"
            height="50px"
          />
          <span>MiniLinkedIn</span>
        </a>
        <button
          class="navbar-toggler shadow-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="bx bx-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link active" aria-current="page" href="/"
              >MiniLinkedIn</a
            >
            <a class="nav-link" href="#">About</a>
          </div>
          <a href="#" class="btn btn-primary">SignIn</a>
        </div>
      </div>
    </nav>

    <!-- Body -->
    <div class="body" data-aos="zoom-in" data-aos-duration="1500">
      <!-- Personal Info Section -->
      <section class="overview-section">
        <div class="container">
          <div class="row">
            <div class="col-md-10 headline-bold" id="fullName"><%= user.getFirstName() %> <%= user.getLastName() %></div>
          </div>
          <div class="row">
            <div class="col-md-10 content" id="bio"><%= user.getBio() %></div>
          </div>
          <div class="row">
            <div class="col-md-3 content" id="email">
              <i class="bx bx-envelope"></i><%= user.getEmail() %>
            </div>
            <div class="col-md-3 content" id="phone">
              <i class="bx bxs-phone"></i> <%= user.getPhone() %>
            </div>
            <div class="col-md-3 content location">
              <i class="bx bxs-location-plus"></i><%= user.getLocation() %>
            </div>
            <div class="col-md-3 content" id="website">
              <i class="bx bx-link-external"></i><%= user.getWebsite() %>
            </div>
          </div>
        </div>
      </section>

      <!-- Work Experience Section -->
      <section class="work-section">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-1">
              <hr />
            </div>
            <div class="col md-11 headline-medium">Work Experience</div>
          </div>

          <% for (let i=0; i<user.getExperience().length; i++) {%>

          <section class="elment">
            <div class="row headline-small">
              <div class="col" id="companyName"><%= user.getExperience()[i].company %></div>
            </div>
            <div class="row content">
              <div class="col-md-6" id="positionInCompany">
                <%= user.getExperience()[i].jobDescription %>
              </div>
              <div class="col-md-6 .offset-md-6" id="workDuration">
                <%= user.getExperience()[i].jobDate %>
              </div>
            </div>
            <div class="row content" id="workDescriptionUl">
              <ul>
                <li>
                  <%= user.getExperience()[i].jobDescription %>
                </li>
              </ul>
            </div>
          </section>
          <% } %>
        </div>
      </section>

      <!-- Education Section -->
      <section class="education-section">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-1">
              <hr />
            </div>
            <div class="col md-11 headline-medium">Education</div>
          </div>
          <% for (let i=0; i<user.getEducation().length; i++) {%>
          <section class="elment">
            <div class="row headline-small">
              <div class="col" id="schoolName"><%= user.getEducation()[i].school %></div>
            </div>
            <div class="row content">
              <div class="col-md-6" id="MajorNGrade">
                <%= user.getEducation()[i].degreeNmajor %> - <%= user.getEducation()[i].gpa %> GPA
              </div>
              <div class="col-md-6 .offset-md-6" id="gradDate"><%= user.getEducation()[i].schoolDate %></div>
            </div>
          </section>
          <% } %>
        </div>
      </section>

      <!-- Projects Section -->
      <section class="projects-section">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-1">
              <hr />
            </div>
            <div class="col md-11 headline-medium">PROJECT</div>
          </div>
          <% for (let i=0; i<user.getProjects().length; i++) { %>
          <section class="elment">
            <div class="row headline-small">
              <div class="col" id="projectName"><%= user.getProjects()[i].projectName %></div>
            </div>
            <div class="row content">
              <div class="col-md-12" id="projectDescription">
                <%= user.getProjects()[i].projectDescription %>
              </div>
            </div>
          </section>
          <% } %>
        </div>
      </section>

      <!-- Skills Section -->
      <section class="skills-section">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-1">
              <hr />
            </div>
            <div class="col md-11 headline-medium">SKILLS</div>
          </div>
          
          <% for (let i=0; i<user.getSkills().length; i++) { %>
          <section class="elment">
            <div class="row content">
              <div class="col-md-4" id="skill"><%= user.getSkills()[i].skill %> - <%=user.getSkills()[i].expertiseLevel %></div>
            </div>
          </section>
          <% } %>
        </div>
      </section>
      <br />
      <br />
      <!-- Validate Section -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary">
                Download PDF
              </button>
            </div>
            <div class="col-md-4">
              <button type="reset" class="btn btn-reset" onclick="discard()">
                Discard
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <!-- AOS Animate Script -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script>
      function discard() {
        window.location = "/resume";
      }
    </script>
  </body>
</html>
